.content-area {
	float: left;
	margin: 0 (-$size__site-sidebar) 0 0;
	width: $size__site-main;
}

.site-main {
	margin: 0 $size__site-sidebar 0 0;
}

.site-content .widget-area, .site-header .widget-area  {
	float: right;
	overflow: hidden;
	width: $size__site-sidebar;
}

.site-footer {
	clear: both;
	width: $size__site-main;
}
.site-header, .site-content, .site-footer {
	width: $size__site_content;
	margin: 0 auto;
	max-width: $site__max_width;
}
.site-header {
	margin-top:20px;
}
.half-col {
	float:left;
	width: 50%;
}

